<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <input matInput placeholder="Nova Tarefa" [formControl]="description" required>
      @if (description.invalid) {
      <mat-error>{{getErrorMessage()}}</mat-error>
      }
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select matNativeControl required [formControl]="status">
        @for (statusItem of statusList; track statusItem) {
        <mat-option [value]="statusItem.value">{{statusItem.label}}</mat-option>
        }
      </mat-select>
      @if (status.invalid) {
      <mat-error>{{getErrorMessage()}}</mat-error>
      }
    </mat-form-field>
  </p>
    <p>
      <mat-card style="width: 300px;">  
        <mat-calendar [(selected)]="date"></mat-calendar>
      </mat-card>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="CancelClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="getErrorMessage().length > 0 || !validate">Confirmar</button>
</div>
